<!DOCTYPE htmL>
<html>
  <head>
    <title>Christina</title>
  </head>
  <body><center>
  <h1>About Christina Sherpa!</h1>
  <h3>Age: 16</h3>
  <h3>Hometown: Kathmandu, Nepal</h3>
  <h3>Favorite Asian Food: Pad Se Ew</h3>
  <h4>I decided to be a part of the KWK fam because I wanted to meet new amazing girls and learn about Ruby, HTML, and CSS. I also wanted to learn through new teachers an TA so I could have a better undestanding of CS.</h4>
  </body></center>
</html>