<!DOCTYPE html>
<html>
  <head>
    <title>
     Wendy
    </title>
  </head>
  
  <body>
    <center>
    <h1>  About Wendy Tao.  </h1>
    
    <h3>  Age: 18 </h3>
    <h3>Hometown: Guangzhou, China</h3>
    <h3>Fave Asian food: Dim Sum</h3>
    <h4>Why I did KWK: KWK empowers women to code and I have been intersted in computer science </h4>
    
    </center>
  </body>
</html>